// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #646b6f;

//Navbar
$navbar-dark-color: rgba(#fff,.8);
$navbar-dark-hover-color: rgba(#fff,.95);

//Button Panels etc
$primary: #337ab7;
$success: #4db24d;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;